@model Z01.Models.Planner.EditSlot

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja</h1>
@if (Model.EditedActivity.ActivityId != 0)
{
    <div about="col-md-7">
        Edytowany wpis ma id @Model.EditedActivity.ActivityId, odbywa się w slocie @Model.Slot, w sali  @Model.EditedActivity.Room.Name,
        dla klasy @Model.EditedActivity.ClassGroup.Name, dla przedmiotu @Model.EditedActivity.Subject.Name, przez nauczyciela @Model.EditedActivity.Teacher.Name
    </div>
}
else
{
    <div about="col-md-7">
        Dodajesz wpis dla slotu 
    </div>
}


<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="EditSlot">
            <input type="hidden" asp-for="EditedActivity.ActivityId"/>
            <input type="hidden" asp-for="EditedActivity.SlotId"/>

            <div class="form-group" id="form-group-rooms">
                <label class="control-label">Sala</label>
                <select id="sel-room" class="form-control" asp-for="EditedActivity.RoomId" asp-items="@(Model.Rooms)">
                </select>
            </div>

            <div class="form-group" id="form-group-groups">
                <label class="control-label">Klasa</label>
                <select id="sel-groups" class="form-control" asp-for="EditedActivity.ClassGroupId" asp-items="@(Model.ClassGroups)">
                </select>
            </div>

            <div class="form-group" id="form-group-subjects">
                <label class="control-label">Przedmiot</label>
                <select id="sel-subject" class="form-control" asp-for="EditedActivity.SubjectId" asp-items="@(Model.Subjects)">
                </select>
            </div>

            <div class="form-group" id="form-group-teachers">
                <label class="control-label">Nauczyciel</label>
                <select id="sel-teacher" class="form-control" asp-for="EditedActivity.TeacherId" asp-items="@(Model.Teachers)">
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary"/>
                @if (Model.EditedActivity != null)
                {
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.EditedActivity.ActivityId">
                        Usuń wpis
                    </a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
